src/TTN/Nodered-Timeserver.json
[
    {
        "id": "49e3c067.e782e",
        "type": "change",
        "z": "449c1517.e25f4c",
        "name": "Payload",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "up",
                "fromt": "str",
                "to": "down",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload_raw",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.port",
                "pt": "msg",
                "to": "9",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.confirmed",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.schedule",
                "pt": "msg",
                "to": "replace",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "84f1cda2.069e7"
            ]
        ]
    },
    {
        "id": "cc140589.dea168",
        "type": "mqtt in",
        "z": "449c1517.e25f4c",
        "name": "listen",
        "topic": "+/devices/+/up",
        "qos": "2",
        "broker": "2a15ab6f.ab2244",
        "x": 70,
        "y": 120,
        "wires": [
            [
                "9f4b8dd3.2f0d2"
            ]
        ]
    },
    {
        "id": "72d5e7ee.d1eba8",
        "type": "mqtt out",
        "z": "449c1517.e25f4c",
        "name": "send",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "2a15ab6f.ab2244",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "4f97d75.6c87528",
        "type": "json",
        "z": "449c1517.e25f4c",
        "name": "Convert",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "8ed813a9.a9319"
            ]
        ]
    },
    {
        "id": "9f4b8dd3.2f0d2",
        "type": "switch",
        "z": "449c1517.e25f4c",
        "name": "Timeport",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"port\":9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "4f97d75.6c87528"
            ]
        ]
    },
    {
        "id": "dac8aafa.389298",
        "type": "json",
        "z": "449c1517.e25f4c",
        "name": "Convert",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "72d5e7ee.d1eba8"
            ]
        ]
    },
    {
        "id": "8ed813a9.a9319",
        "type": "base64",
        "z": "449c1517.e25f4c",
        "name": "Decode",
        "action": "",
        "property": "payload.payload_raw",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "f868bce2.dde67"
            ]
        ]
    },
    {
        "id": "84f1cda2.069e7",
        "type": "base64",
        "z": "449c1517.e25f4c",
        "name": "Encode",
        "action": "",
        "property": "payload.payload_raw",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "dac8aafa.389298"
            ]
        ]
    },
    {
        "id": "6190967b.01f758",
        "type": "comment",
        "z": "449c1517.e25f4c",
        "name": "LoRaWAN Timeserver",
        "info": "PLEASE NOTE: There is a patent filed for the time sync algorithm used in the\ncode of this file. The shown implementation example is covered by the\nrepository's licencse, but you may not be eligible to deploy the applied\nalgorithm in applications without granted license by the patent holder.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "f868bce2.dde67",
        "type": "switch",
        "z": "449c1517.e25f4c",
        "name": "Timechecker",
        "property": "payload.metadata.gateways[0].time",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "payload.metadata.time",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "831ab883.d6a238"
            ]
        ]
    },
    {
        "id": "831ab883.d6a238",
        "type": "function",
        "z": "449c1517.e25f4c",
        "name": "Generate Time Answer",
        "func": "/* LoRaWAN Timeserver\n\nconstruct 6 byte timesync_answer from gateway timestamp and node's time_sync_req\n\nbyte    meaning\n0       sequence number (taken from node's time_sync_req)\n1..4    current second (from epoch time 1970)\n5       1/250ths fractions of current second\n\n*/\n\nfunction timecompare(a, b) {\n  \n  const timeA = a.time;\n  const timeB = b.time;\n\n  let comparison = 0;\n  if (timeA > timeB) {\n    comparison = 1;\n  } else if (timeA < timeB) {\n    comparison = -1;\n  }\n  return comparison;\n}\n\nlet confidence = 2000; // max millisecond diff gateway time to server time\n\nvar gateways = msg.payload.metadata.gateways;\nvar gateway_time = gateways.map(gw => {\n    return {\n      time: new Date(gw.time),\n      eui: gw.gtw_id,\n      }\n  });\nvar server_time = new Date(msg.payload.metadata.time);\n\n// validate all gateway timestamps against lorawan server_time (which is assumed to be recent)\nvar gw_timestamps = gateway_time.filter(function (element) {\n  return ((element.time > (server_time - confidence) && element.time <= server_time));\n});\n\n// if no timestamp left, we have no valid one and exit\nif (gw_timestamps.length === 0) return null;\n\n// sort time array in ascending order to find most recent timestamp for time answer\ngw_timestamps.sort(timecompare);\n\nvar timestamp = gw_timestamps[0].time;\nvar eui = gw_timestamps[0].eui;\n\nvar seconds = Math.floor(timestamp/1000);\nvar fractions = (timestamp % 1000) / 4;\nvar seqno = msg.payload.payload_raw[0];\n\nlet buf = new ArrayBuffer(6);\nnew DataView(buf).setUint8(0, seqno);\nnew DataView(buf).setUint32(1, seconds);\nnew DataView(buf).setUint8(5, fractions);\n\nmsg.payload = new Buffer(new Uint8Array(buf));\nvar infoMsg = { payload: eui };\n\nreturn [infoMsg, msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "37722d4b.08e3c2",
                "8712a5ac.ed18e8"
            ],
            [
                "49e3c067.e782e"
            ]
        ],
        "outputLabels": [
            "gw_eui",
            "time_sync_ans"
        ]
    },
    {
        "id": "37722d4b.08e3c2",
        "type": "debug",
        "z": "449c1517.e25f4c",
        "name": "Timeserver Gw",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 660,
        "y": 260,
        "wires": [],
        "icon": "node-red/bridge.png"
    },
    {
        "id": "2a15ab6f.ab2244",
        "type": "mqtt-broker",
        "z": "",
        "name": "eu.thethings.network:1883",
        "broker": "eu.thethings.network",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]